@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 168 39% 27%;
    --primary-foreground: 210 40% 98%;
    --secondary: 34 60% 69%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 4 62% 69%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 168 39% 27%;
    --chart-1: 168 39% 27%;
    --chart-2: 34 60% 69%;
    --chart-3: 4 62% 69%;
    --chart-4: 43 96% 56%;
    --chart-5: 27 96% 61%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 168 39% 27%;
    --primary-foreground: 210 40% 98%;
    --secondary: 34 60% 69%;
    --secondary-foreground: 222 47% 11%;
    --muted: 217 19% 27%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 4 62% 69%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 168 39% 27%;
    --chart-1: 168 39% 27%;
    --chart-2: 34 60% 69%;
    --chart-3: 4 62% 69%;
    --chart-4: 271 81% 56%;
    --chart-5: 335 87% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}